{% extends 'base.html' %}
{% load static %}

{% block title %}Create virtual expert{% endblock %}

{% block content %}
    <form class="forms_with_login" method="POST" action="/experts/create_virtual_expert/">
        {% csrf_token %}
        <h2>Create Virtual Expert</h2>

        <label for="name">Name</label>
        <input name="name" placeholder="Expert name" required />

        <label for="description">Description</label>
        <input name="description" placeholder="Expert purpose or focus" />

        <button type="submit">Create</button>
    </form>
{% endblock %}