{% extends 'base.html' %}
{% load static %}

{% block title %}Virtual experts{% endblock %}

{% block content %}
    <h1 class="title">My virtual experts</h1>
    {% for ve in experts %}
        <div class="virtual-expert">
            <h4>{{ ve.name }}</h4>
            <div class="virtual-expert-actions">
                <a href="">
                    <img src="{% static 'icons/experts/edit.png' %}" alt="Edit" class="icon" />
                </a>
                <a href="">
                    <img src="{% static 'icons/experts/train.png' %}" alt="Train" class="icon" />
                </a>
                <a href="">
                    <img src="{% static 'icons/experts/chat.png' %}" alt="Chat" class="icon" />
                </a>
                <a href="">
                    <img src="{% static 'icons/experts/delete.png' %}" alt="Delete" class="icon" />
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}