{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VE - {% block title %}{% endblock  %}</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block css %}{% endblock %}

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>

    <body class="{% if request.user.is_authenticated %}with-sidebar{% else %}no-sidebar{% endif %}">

        <div class="page">
            {% if request.user.is_authenticated %}
                <div class="menu">
                    <a href="{% url 'dashboard' %}" class="{% if request.path == '/users/dashboard/' %}active{% endif %}">Dashboard</a>
                    <a href="{% url 'my_virtual_experts' %}" class="{% if request.path == '/experts/' %}active{% endif %}">My virtual experts</a>
                    <a href="{% url 'create_virtual_expert' %}" class="{% if request.path == '/experts/create_virtual_expert/' %}active{% endif %}">Create virtual expert</a>

                    <div class="logout-link">
                        <a href="{% url 'logout_user' %}">Logout</a>
                    </div>
                </div>
            {% endif %}

            <div class="content">
                {% block content %}{% endblock %}
            </div>

            <div class="footer">
                <p>© {% now "Y" %} VE. All rights reserved.</p>
            </div>
        </div>

        {% block js %}{% endblock %}
    </body>

</html>