{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VE - {% block title %}{% endblock  %}</title>
        <link rel="stylesheet" href="{% static 'css/users/base.css' %}">
    </head>

    <body>
        {% if request.user.is_authenticated %}
            <div class="menu">
                <p>Dashboard</p>
                <p>My virtual experts</p>
                <p>Create virtual expert</p>

                <a href="{% url 'logout_user' %}">Cerrar sesión</a>
            </div>
        {% endif %}

        <div class="content">
            {% block content %}{% endblock %}
        </div>

        <div class="footer">
            <p>© {% now "Y" %} V.E. All rights reserved.</p>
        </div>

        {% block js %}{% endblock %}
    </body>

</html>